html {
  height: 100%;
}

body {
  height: 100%;
  margin: auto;
  max-width: 650px;

  color: #E5EAF5;
  background-color: #494D5F;

  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 44pt;
}

hr {
  width: 100%;
}

a:link, a:visited {
  text-decoration: none;
}

/** **/

.text-center {
  text-align: center;
}

.font-large {
  font-size: 18pt;
}

/** **/

.home-page-container {
  height: calc(100% - 2px);
  border: 1px solid #494D5F;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.home-page-container > h1 {
  margin: 0;
}

.home-page-container > .links {
  display: flex;
  justify-content: space-around;
}

#resume {
  color: #D0BDF4;
}

#linkedin {
  color: #A0D2EB;
}

#github {
  color: #FFB6C1;
}

#email {
  color: #CCFFCC;
}

/** **/
