.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.page-container > h1 {
  margin: 0;
}

.page-container > .links {
  display: flex;
  justify-content: space-around;
}
