body {
  color: #E5EAF5;
  background-color: #333333;
}

hr {
  width: 100%;
  color: #E5EAF5;
  background-color: #E5EAF5;
  border-color: #E5EAF5;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: 0;
  border-right: 0;
}

a:link, a:visited {
  text-decoration: none;
}
