html {
  height: 100%;
}

body {
  height: 100%;
  margin: auto;
  max-width: 650px;

  color: #E5EAF5;
  background-color: #494D5F;

  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 44pt;
}

hr {
  width: 100%;
  color: #E5EAF5;
}

a:link, a:visited {
  text-decoration: none;
}

/** **/

.text-center {
  text-align: center;
}

.font-large {
  font-size: 18pt;
}

/** **/

.purple {
  color: #D0BDF4;
}

.blue {
  color: #A0D2EB;
}

.pink {
  color: #FFB6C1;
}

.green {
  color: #CCFFCC;
}

/** **/

.page-container {
  height: calc(100% - 2px);
  border: 1px solid #494D5F;
}
