---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

// 

hr {
  color: #E5EAF5;
  background-color: #E5EAF5;
  border-color: #E5EAF5;
  border: 1px solid;
}

details > *:not(summary) {
  margin-left: 2rem;
}

summary.h1 {
  font-size: 2em;
  font-weight: $base-font-weight;

  margin: 0;
  padding: 0;
  margin-bottom: $spacing-unit / 2;
}

.column-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.column-2, .column-3, .column-4 {
  flex-grow: 1;
}

// 

.column-33 {
  width: 33%;
}

// 

.min-20 {
  min-width: -webkit-calc((#{$content-width} - (#{$spacing-unit} * 2)) * 1 / 5);
  min-width:         calc((#{$content-width} - (#{$spacing-unit} * 2)) * 1 / 5);
}

.min-25 {
  min-width: -webkit-calc((#{$content-width} - (#{$spacing-unit} * 2)) * 1 / 4);
  min-width:         calc((#{$content-width} - (#{$spacing-unit} * 2)) * 1 / 4);
}
