<!DOCTYPE html>
<head>
  <!-- Required meta tags -->
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

	<!-- Favicon-->
	<link rel='shortcut icon' href='favicon.ico'>

	<!-- Author Meta -->
	<meta name='author' content='Zibing Zhang'>
	<!-- Meta Description -->
	<meta name='description' content={{ page.description }}>
	<!-- Meta Keyword -->
	<meta name='keywords' content={{ page.contents }}>
	<!-- Meta Character Set -->
	<meta charset='UTF-8'>

	<!-- Site Title -->
	<title>{{ page.title }}</title>

	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap' rel='stylesheet'> 

	<!-- CSS -->
	<link rel='stylesheet' href='assets/css/dark.css'>
	<link rel='stylesheet' href='assets/css/colors.css'>
  {% if page.css %}
    {% for stylesheet in page.css %}
      <link rel='stylesheet' href='/assets/css/{{ stylesheet }}.css'>
    {% endfor %}
  {% endif %}
  
  <!-- JS -->
  {% if page.js %}
    {% for script in page.js %}
      <script type='text/javascript' src='/assets/js/{{ script }}.js'></script>
    {% endfor %}
  {% endif %}
</head>

<body>
  <div class='page-container'>
    {{ content }}
  </div>
</body>